<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\Users\moham\Desktop\original\scrum-project\target\scrum-project-1.0.0-SNAPSHOT.jar</jar>
  <outfile>C:\Users\moham\Desktop\original\scrum-project\working1.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>22</minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path %EXEDIR%\lib</opt>
    <opt>--add-modules javafx.controls,javafx.fxml</opt>
    <opt>-Dprism.order=sw</opt>
    <opt>-Dprism.verbose=true</opt>
  </jre>
</launch4jConfig>