.root {
    /* Background */
    -fx-background-image: url(../dark_bg.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover; 
    -fx-background-insets: 0;
}